.details{
    width: 100%;
    height: 100%; 
    background-color: #181818 ;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
}
.details-wrapper{
    background-color: #181818;
}
.poster{
    margin-top: 100px;
    margin-left: 250px;
}
.show-title{
    color: white;
}