.details{
    width: 100%;
    height: 100%; 
    background-color: #181818 ;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
}
.details-wrapper{
    background-color: #181818;
    align-items: center;
    justify-content: center;
    
}
.data-wrapper{
    justify-content: space-around;
    display: flex;
    margin-top: 200px;
    margin-left: 240px;
    width: 1000px;
}
.poster{
    margin-right: 30px;
}
.show-title{
    color: white;
    padding: 20px;
}